.venv
.env
data/
__pycache__/
docs/
logs/
.python-version
artifacts/
data_val_scrap.py
artifacts/
data_val_scrap.py
.github/workflows/ci-cd.yml

# --- ML & Training ---
src/ml/runs/
src/ml/configml
*.pt
artifacts/models_saved/
runs/
mlruns/
mlflow.db
.github/


src/ai/ml/configml/
uploads/
mlruns/
mlflow.db/
